body{
    margin:0px;
    padding:0px;
}

.canvas td
{
    width:100px;
    height:100px;
    border: solid 8px rgba(73, 7, 94, 0.616);
    text-align:center;
    font-size:40pt;
    border-radius:10px;
    box-sizing:border-box;
}

.canvas td:hover
{
    background-color: #fff;
    cursor:pointer;
}

.canvas
{
    background:#efefef;
    border:solid 10px #333;
}

.canvas #gameTitle
{
    background:rgb(34, 34, 34);
    color:rgb(206, 13, 13);
    padding: 10px;
    text-align:center;
}

.canvas .player
{
    float:left;
    text-align:center;
    width: 25%;
    color: rgb(90, 29, 131);
}

.canvas .player .selected
{
    border-bottom:solid 4px rgb(103, 195, 248)
}

.tictactoe-board
{
    text-align:center;
    margin:0 auto;
    width:50%;
    padding-top:20px;
}

.tictactoe-board table
{
    float:left;
    width: 50%;
}

.tictactoe-board-score1
{
    float:left;
    width:20%;
}

.tictactoe-board-score2
{
    float:left;
    width:20%;
}

.clear
{
    clear:both;
}